#page-content {
  margin-top: 0;
  padding: 0 5px 1px;
  background-color: $body-bg;
  min-height: 75vh;
}
.tiles {
    margin: 0 15px 15px 15px;
}
.tiles .tile {
    padding: 12px 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
}
.tiles .tile a {
    text-decoration: none;
}
.tile .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px;
    line-height: 1;
    color: #ccc;
}
.tile .stat {
    margin-top: 20px;
    font-size: 40px;
    line-height: 1;
}
.tile .title {
    font-weight: 700;
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}
.tiles .tile .highlight {
    margin-top: 4px;
    height: 2px;
    border-radius: 2px;
}

.content-header {
  background-color: transparent;
}
.content-header > .row {
  padding: 0.5em 2em;
  margin-bottom: 0;
}

.block {
  margin: 0 0 10px;
  padding: 20px 15px 1px;
  background-color: #ffffff;
  border: 1px solid #dbe1e8;
}
.block-title h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  color: #058;
}

.teks-abu {
  color: #989898;
}