#page-content {
  margin-top: 0;
  padding: 0 5px 1px;
  background-color: $body-bg;
  min-height: 100vh;
}
.tiles {
    margin: 0 15px 15px 15px;
}
.tiles .tile {
    padding: 12px 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
}
.tiles .tile a {
    text-decoration: none;
}
.tile .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px;
    line-height: 1;
    color: #ccc;
}
.tile .stat {
    margin-top: 20px;
    font-size: 40px;
    line-height: 1;
}
.tile .title {
    font-weight: 700;
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}
.tiles .tile .highlight {
    margin-top: 4px;
    height: 2px;
    border-radius: 2px;
}

.content-header {
  background-color: transparent;
}
.content-header > .row {
  padding: 0.5em 2em;
  margin-bottom: 0;
}

.block {
  margin: 0 0 10px;
  padding: 1em 0.5em;
  padding-top: 0.75em;
  background-color: #ffffff;
  border: 1px solid #dbe1e8;
}
.block-title h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  color: #058;
}
.teks-kecil {
  font-size: smaller;
}

.teks-abu {
  color: #989898;
}
#back-to-top {
  position: fixed;
  bottom: 55px;
  left: 5px;
  border-radius: 3px;
  padding: 0 12px;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.1;
}
#back-to-top:hover {
  color: #ffffff;
  background-color: #1bbae1;
  text-decoration: none;
  opacity: 1;
}

a.wijet {
  display: block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a.wijet:hover, a.wijet:focus, a.wijet:active {
    text-decoration: none;
}
a.wijet.wijet-h1 {
  -webkit-transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
a.wijet.wijet-h1:hover, a.wijet.wijet-h1:focus {
  -webkit-transform: none;
  -webkit-box-shadow: none;
  transform: none;
  box-shadow: none;
}
.wijet {
  background-color: #ffffff;
  margin-bottom: 10px;
}
.wijet-simple {
  padding: 15px;
}
.wijet .wijet-image, .wijet .wijet-icon {
  width: 64px;
  height: 64px;
}
.wijet .wijet-icon {
  display: inline-block;
  line-height: 64px;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  border-radius: 32px;
}
.wijet-simple .wijet-image, .wijet-simple .wijet-icon {
    margin: 0 15px;
}
.wijet-simple .wijet-image.pull-left, .wijet-simple .wijet-icon.pull-left {
    margin-left: 0;
}
.wijet-simple .wijet-content {
    font-size: 18px;
    margin: 12px 0;
}
.wijet-simple .wijet-content small {
    display: block;
    margin-top: 7px;
    font-size: 13px;
    font-weight: 400;
}
.wijet .wijet-ekstra-full, .wijet .wijet-ekstra {
  position: relative;
  padding: 0.25em;
}
.wijet .wijet-pilihan, .wijet .wijet-pilihan-kiri {
  top: 5px;
  opacity: 0.5;
  position: absolute;
}
.wijet .wijet-pilihan {
  right: 5px;
}
.wijet .wijet-isi-tipis {
  color: #ffffff;
}
.wijet .wijet-isi-tipis small {
  color: #eeeeee;
}

.row.row-filter {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px #ededed dashed;
}

#login-container .login-title.text-center {
  padding: 0.5em;
}

#login-container .login-title.text-center img.img-responsive {
  max-height: 3em;
}
.btn.btn-left {
  text-align: left;
}