#page-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.main-content {
  margin-bottom: 60px;
  min-height: 300px;
}
#page-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  -webkit-transition: background-color 0.2s ease-out, opacity 0.3s ease-out;
  transition: background-color 0.2s ease-out, opacity 0.3s ease-out;
}
#main-container {
  min-width: 320px;
  -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}