#page-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.main-content {
  margin-bottom: 60px;
  min-height: 300px;
}
#page-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: $sidebar-bg;
  -webkit-transition: background-color 0.2s ease-out, opacity 0.3s ease-out;
  transition: background-color 0.2s ease-out, opacity 0.3s ease-out;
}
#main-container {
  min-width: 320px;
  -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
footer {
    padding: 9px 10px;
    font-size: 11px;
    background-color: $nav-foot-bg;
    border-top: 1px solid $nav-foot-border;
    color: $nav-foot-color;
}

.content-header-media {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-top-color: #222222;
}
.content-header-media .header-section {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
}
.content-header h1, .content-header h2 {
  margin: 0;
  font-size: 26px;
  line-height: 32px;
}
.content-header-media small, .content-header-media i {
  color: #dddddd;
}
.content-header-media .header-cover > img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2560px;
    height: 248px;
    margin-left: -1280px;
}
.header-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 320px;
}

.header-section {
  padding: 1em;
}
.header-section h1 {
  margin-top: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin-left: 4px;
  margin-right: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #1bbae1;
  margin-left: 5px;
  margin-right: 5px;
  border: none !important;
  border-radius: 25px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  border: none !important;
  border-radius: 25px !important;
  background-color: #1bbae1;
}
#form_module_search {
  display: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sidebar-visible #form_module_search {
  display: block;
}
