#sidebar {
  width: 0;
  position: absolute;
  overflow: hidden;
  background-color: $preloader-bg;
}
.sidebar-visible #main-container {
  margin-left: 200px;
}
.sidebar-visible #sidebar {
  width: 200px;
  opacity: 1;
}
.sidebar-content {
  color: #ffffff;
}
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
}
.sidebar-nav a {
    display: block;
    color: #eaedf1;
    padding: 0 10px;
    min-height: 35px;
    line-height: 35px;
}
.sidebar-nav a > .sidebar-nav-icon {
    margin-right: 10px;
}
.sidebar-nav a > .sidebar-nav-icon, .sidebar-nav a > .sidebar-nav-indicator {
    display: inline-block;
    opacity: 0.5;
    width: 18px;
    font-size: 14px;
    text-align: center;
}
.sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a.open, .sidebar-nav li.active > a {
    color: #ffffff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.15);
}
.sidebar-nav a:hover, .sidebar-nav a:hover > .sidebar-nav-icon, .sidebar-nav a:hover > .sidebar-nav-indicator, .sidebar-nav a.active, .sidebar-nav a.active > .sidebar-nav-icon, .sidebar-nav a.active > .sidebar-nav-indicator, .sidebar-nav a.open, .sidebar-nav a.open > .sidebar-nav-icon, .sidebar-nav a.open > .sidebar-nav-indicator, .sidebar-nav li.active > a, .sidebar-nav li.active > a > .sidebar-nav-icon, .sidebar-nav li.active > a > .sidebar-nav-indicator {
    opacity: 1;
}
.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
}
.sidebar-nav ul a {
    margin: 0;
    font-size: 12px;
    padding-left: 15px;
    min-height: 32px;
    line-height: 32px;
}
.sidebar-header {
    margin: 10px 0 0;
    padding: 10px;
    line-height: 12px;
}
.sidebar-header-options {
    float: right;
    display: inline-block;
}
.sidebar-header .sidebar-header-title {
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    opacity: 0.5;
}
.sidebar-nav a > .sidebar-nav-indicator {
    float: right;
    line-height: inherit;
    margin-left: 4px;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}